$lightGrey : #e6e3e1;
$middleGrey : #45423e;
$darkGrey : #020203;
$accent : #ec008c;
$whiteText: #f1f1f1;

$largeTitleSize : 71px;
$smallTitleSize : 32px;
$bodySize : 18px;

@mixin flex-box($dir,$al){
  display: flex;
  flex-direction: $dir;
  justify-content: $al;
}

body {
  font-size: $bodySize;
  color: $middleGrey;
}

.container-fluid {
  padding: 0;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Code Pro', monospace;
}
h2 {
  font-size: $smallTitleSize;
  font-weight: normal;
  color: inherit;
}

.bold-text {
  font-weight: bold;
  display: inline-block;
  width: 150px;
  padding: 0;
}

a {
  color: $middleGrey;
  text-decoration: none;
}

#header {
  background: $lightGrey;
  .topInfo {
    display: flex;
    align-items: flex-end;
    .welcome-message {
      line-height: 1.7;
      color: $middleGrey;
        font-style: normal;
      .intro {
        color: $darkGrey;
        font-size: 71px;
        font-weight: 900;
      }
        .comma {
          color: $accent;
        }
      #name, .role {
        color: $middleGrey;
        font-weight: bold;
        font-size: $bodySize;
        line-height: 1.7;
      }
    }
  }
}

#topContacts {
  display: flex;
  flex-direction: column;
}

.progress {
  width: 20em;
  background-color: #c9c2bc;
  -webkit-box-shadow : none;
  box-shadow: none;
  height: 15px;
  .progress-bar {
    background-color: $accent;
  }
}

#skills-h3 {
  color: $darkGrey;
  font-size: $smallTitleSize;
  text-align: center;
  font-style: normal;
  padding: 20px;
}

.skills {
  margin: 100px 0;
}

#skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  .col-md-5 {
    padding: 10px 0 0;
  }
}

.workSection, .educationSection {
  background: $darkGrey;
  color : $whiteText;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.projectsSection, #mapDiv {
  padding: 50px 0;
}

.work-entry , .education-entry {
  border: 1px solid $whiteText;
  margin: 10px;
  p, .date-text, .location-text,a {
    color: $whiteText;
  }
  a {
    font-weight: bold;
  }
}

.education-entry, .work-entry, .project-entry {
  padding: 2%;
}

.date-text {
  float: right;
  order: -1;
}
#projects, #mapDiv {
  text-align: center;
}



.project-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectTitle {
  font-size: 1.3em;
}

.onlineCoursesTitle {
  color: #fff;
}

#mapDiv {
  background: $lightGrey;
  height: 600px;
  @include flex-box(column, center);

  h2 {
    margin: 0 0 15px 0;
  }
}

#map {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(69,66,62,0.3);
-moz-box-shadow: 0px 0px 5px 2px rgba(69,66,62,0.3);
box-shadow: 0px 0px 5px 2px rgba(69,66,62,0.3);
}

.connect {
  @include flex-box(column, center) ;
  align-items: center;
  background: $darkGrey;
  padding: 50px;
  color: $whiteText;
    a {
      color: inherit;
    }
}
