// Variables

$light-grey : #e6e3e1;
$middle-grey : #45423e;
$dark-grey : #020203;
$accent : #ec008c;
$white-text: #f1f1f1;

$large-title : 71px;
$small-title : 32px;
$body-size : 18px;

// Mixins

@mixin flex-box($dir,$al){
  display: flex;
  flex-direction: $dir;
  justify-content: $al;
}

// General

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Code Pro', monospace;
}

body {
  font-size: $body-size;
  color: $middle-grey;
}

h2 {
  font-size: $small-title;
  font-weight: normal;
  color: inherit;
}

a {
  color: $middle-grey;
  text-decoration: none;
}

span {
  padding: 0;
}

.icon {
  max-width: 70px;
  max-height: 72px;
  margin: 0 auto;
  order: -1;
}

.bold-text {
  font-weight: bold;
  display: inline-block;
  width: 150px;
  padding: 0;
}

.flex-item {
  @include flex-box(row,space-between);
  a {
    margin: 0;
  }
}

// Sections

.container-fluid {
  padding: 0;
}

.education,
.work {
  @include flex-box(column,center);
  align-items: center;
}

.projects-section,
#map-div {
  padding: 50px 0;
}

/* HEADER */

#header {
  background: $light-grey;
}

#top-contacts {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.biopic {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  opacity: 0.2;
}

.top-info {
  display: flex;
  align-items: flex-end;
}

.welcome-message {
  line-height: 1.7;
  color: $middle-grey;
    font-style: normal;
}

.intro {
  color: $dark-grey;
  font-size: 71px;
  font-weight: 900;
}

.comma {
  color: $accent;
}

#name,
.role {
  color: $middle-grey;
  font-weight: bold;
  font-size: $body-size;
  line-height: 1.7;
}

/* SKILLS */

#skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

#skills-h3 {
  color: $dark-grey;
  font-size: $small-title;
  text-align: center;
  font-style: normal;
  padding: 20px;
}

.progress {
  width: 20em;
  background-color: #c9c2bc;
  -webkit-box-shadow : none;
  box-shadow: none;
  height: 15px;
}

.progress-bar {
  background-color: $accent;
}

.skills-section {
  margin: 100px 0;
}

.list-skills {
  padding: 10px 0 0;
}

/* WORK AND EDUCATION */

.work-section,
.education-section {
  background: $dark-grey;
  padding: 50px 0;
}


.work-entry,
.education-entry {
  border: 1px solid $white-text;
  margin: 10px;
}

.work-section,
.work-entry,
.employer-link,
.education-section,
.education-entry,
.school-link,
.course-title,
.course-link,
.onlineCoursesTitle,
.connect,
.connect .email,
.connect .twitter,
.connect .github
 {
  color: $white-text;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 2%;
}

.date-text {
  float: right;
  order: -1;
}

/* PROJECTS */

#projects,
#map-div {
  text-align: center;
}

.project-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectTitle {
  font-size: 1.3em;
}


/* MAP */

#map-div {
  background: $light-grey;
  height: 600px;
  @include flex-box(column, center);

}

.location-section-title {
  margin: 0 0 15px 0;
}

#map {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(69,66,62,0.3);
  -moz-box-shadow: 0px 0px 5px 2px rgba(69,66,62,0.3);
  box-shadow: 0px 0px 5px 2px rgba(69,66,62,0.3);
}

/* FOOTER */

.connect {
  @include flex-box(column, center) ;
  align-items: center;
  background: $dark-grey;
  padding: 50px;
}

.footer-title {
  padding: 20px 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  .top-info {
    align-items: baseline;
    flex-direction: column;
  }
  #top-contacts {
    margin-top: 20px;
  }
}

@media screen and (max-width: 992px) {
  .progress {
    width: inherit;
  }
}

@media screen and (max-width: 645px) {
  .work-entry,
  .education-entry {
    @include flex-box(column,center);
  }
}

@media screen and (max-width: 400px) {
  .flex-item {
    flex-direction: column;
  }
}
